
table {
  border-collapse: collapse;
  max-width: 100%;
  height: auto;
  text-align: left;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px; /* Adjust this value to set the desired spacing */
  text-align: left;
}
